@using ML.BC.Web.Framework;

<div id="Content" class="Content ClearFloat">
    <!--顶部标题-->
    <div class="btnbartitle">
        <div>
            平台管理 - <span id="OrganizationName">企业功能项管理</span>
        </div>
    </div>
    <!--操作工具条-->
    <div id="tb1" class="tools_bar">
         @Html.Button(() => true, "刷新", new { @class = "tools_btn", onclick = "Replace()", title = "刷新页面" }, new { @class = "btn_Refresh" }, true, true)
 
        @Html.Button(() => HasFunction(Functions.Root_SysManagement_EPFunMangement_Add), "新增", new { @class = "tools_btn", onclick = "append()" }, new { @class = "btn_Add" }, false, true)
 
        @Html.Button(() => HasFunction(Functions.Root_SysManagement_EPFunMangement_Edit), "编辑", new { @class = "tools_btn", onclick = "edit()" }, new { @class = "btn_Edit" }, false, true)
 
        @Html.Button(() => HasFunction(Functions.Root_SysManagement_EPFunMangement_Delete), "删除", new { @class = "tools_btn", onclick = "DeleteNode()" }, new { @class = "btn_Delete" }, false, true)
 
     @Html.Button(() => true, "离开", new { @class = "tools_btn", onclick = "ThisCloseTab()", title = "关闭当前窗口" }, new { @class = "btn_Back" }, true, true, false)
 
 
    </div>

    <!-- 弹出框 修改-->
    <div id="ttt" class="easyui-dialog dlg_DataInfo" title="功能-编辑" 
         data-options="
 				buttons: '#dlg-buttons'
         ">
        <form id="ff" class="easyui-form frm" action="Url" method="post" data-options="novalidate:true">
            <table cellpadding="5">
                <tr>
                    <td class="FixedColumn">
                        功能名称[*]:
                    </td>
                    <td>
                        <input class="easyui-textbox " id="fname" type="text" name="Name" data-options="required:true">
                    </td>
                </tr>
                <tr>
                    <td class="FixedColumn">
                        MyId[*]:
                    </td>
                    <td>
                        <input class="easyui-textbox " id="fid" type="text" name="MyID" data-options="required:true">
                    </td>
                </tr>
                <tr>
                    <td class="FixedColumn">
                        描述:
                    </td>
                    <td>
                        <input id="finfo" class="easyui-textbox" type="text" name="Desription" data-options="required:true">
                    </td>
                </tr>

                <tr>
                    <td class="FixedColumn">
                        有效:
                    </td>
                    <td>
                        <select id="alter_check" class="easyui-combobox" data-options="editable:false,panelHeight:'auto',required:true" name="Available">
                            <option value="true">是</option>
                            <option value="false">否</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><center><a href="javascript:void(0)" style="width:50px" class="easyui-linkbutton" onclick="submitform();">提交</a></center>  </td>
                </tr>
            </table>
        </form>
    </div>
    <!-- 弹出框  新增-->
    <div id="ddd" class="easyui-dialog dlg_DataInfo" title="功能-新增" 
         data-options="
 				buttons: '#dlg-buttons'
         ">
        <form id="dd" class="easyui-form frm" action="Url" method="post" data-options="novalidate:true">
            <table cellpadding="5">
                <tr>
                    <td class="FixedColumn">
                        功能名称[*]:
                    </td>
                    <td>
                        <input class="easyui-textbox " id="dname" type="text" name="Name" data-options="required:true">
                    </td>
                </tr>
                <tr>
                    <td class="FixedColumn">
                        MyId[*]:
                    </td>
                    <td>
                        <input class="easyui-textbox " id="did" type="text" name="MyID" data-options="required:true">
                    </td>
                </tr>
                <tr>
                    <td class="FixedColumn">
                        描述:
                    </td>
                    <td>
                        <input id="dinfo" class="easyui-textbox" type="text" name="Desription" data-options="required:true">
                    </td>
                </tr>

                <tr>
                    <td class="FixedColumn">
                        有效:
                    </td>
                    <td>
                        <select id="add_check" class="easyui-combobox" data-options="editable:false,panelHeight:'auto',required:true" name="Available">
                            <option value="true">是</option>
                            <option value="false">否</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><center><a href="javascript:void(0)" style="width:50px" class="easyui-linkbutton" onclick="addform();">提交</a></center>  </td>
                </tr>
            </table>
        </form>
    </div>
    <!--右键菜单-->
    <div id="mm" class="easyui-menu" style="width:120px;">
        <div onclick="append()" data-options="iconCls:'icon-add'">新建</div>
        <div onclick="removeIt()" data-options="iconCls:'icon-remove'">删除</div>
        <div onclick="edit()" data-options="iconCls:'icon-edit'">编辑</div>
        <div class="menu-sep"></div>
        <div onclick="collapse()">收回</div>
        <div onclick="expand()">展开</div>
    </div>
    <!--树形表格-->
    <div id="func-table" class="DataContent" style="height:auto">
        <table id="tg2" class="easyui-treegrid DataContent" title="所有功能" style="width:auto;height:auto;overflow:scroll" data-options="rownumbers: true,animate: true,collapsible: false,fitColumns: true,url: '@Html.Url("Account_default", "GetFunclistByJson", "EnterpriseFunctionManagement")',method: 'get',idField: 'id',treeField: 'Name',onLoadSuccess:onLoadSuccess,onClickRow: onClickRow">
            <thead>
                <tr>
                    <th data-options="field:'Name',width:100,editor:'text'">功能名称</th>
                    <th data-options="field:'MyID',width:60,align:'right',editor:'text'"><span class="red-star" style="color:red">*</span>MyID</th>
                    <th data-options="field:'Desription',width:200,editor:'text'">描述</th>
                    <th data-options="field:'Available',width:20,editor:{type:'checkbox',options:{on: 'true',off: 'false'}} ,formatter:format,align:'center'">
                        可用
                    </th>

                </tr>
            </thead>
        </table>

    </div>

    <script type="text/javascript">

        var deleteurl = "@Html.Url("Account_default", "DeleteFunc", "EnterpriseFunctionManagement")";
        var updateurl = "@Html.Url("Account_default", "UpdateFunc", "EnterpriseFunctionManagement")";
        var addurl = "@Html.Url("Account_default", "AddFunc", "EnterpriseFunctionManagement")";

        var action;
        var id;
        //ajax操作成功回调 服务器操作不一定成功 需判断返回数据
        function CB(actionl, idl) {
            window.action = actionl;
            window.id = idl;


            return function (data, state) {
                //data.Value 操作结果代码
                //data.Success 操作是否成功
                //data.Message 错误信息
               
                //data = eval("("+data+")");
                var action = window.action;
                var id = window.id;
                closetips();
                switch (action) {
                    case 'new':
                        if (data.Success == true) {
                            $('#ddd').dialog("close");
                            tips("成功!");
                            Refresh();
                        }
                        else {
                            tips("Ajax失败,请检查网络!");
                            $('#tg').treegrid('remove', id);
                        }
                        break;

                    case 'update':
                        if (data.Success == true) {
                            $('#ttt').dialog("close");
                            tips("成功!");
                            replace();
                        }
                        else {
                            tips("Ajax失败,请检查网络!");
                        }
                        break;

                    case 'delete':
                        if (data.Success == true) {
                            $('#tg').treegrid('remove', id);
                            tips("成功!");
                            replace();
                        }
                        else {
                            tips("Ajax失败,请检查网络!");
                        }
                        break;
                }
            }

        }
        //ajax操作失败回调
        function ECB(actionl, idl) {
            window.action = actionl;
            window.id = idl;
            $('#ttt').dialog({ closed: true });
            return function (xpr, msg, obj) {
                var action = window.action;
                var id = window.id;
                closetips();
                switch (action) {
                    case 'new':
                        tips("失败!网络/服务器错误，信息：" + msg);

                        $('#tg').treegrid('select', id);
                        $('#tg').treegrid('beginEdit', id);
                        break;

                    case 'update':
                        tips("失败!网络/服务器错误，信息：" + msg);
                        $('#tg').treegrid('select', id);
                        break;

                    case 'delete':
                        tips("失败!网络/服务器错误，信息：" + msg);
                        $('#tg').treegrid('select', id);
                        break;
                }
                //$.parser.parse();
            }

        }
        //格式化布尔值
        function format(value) {
            if (value == true) {

                return '<span iconCls="icon-ok">是</span>';
            } else {
                return '<span iconCls="icon-cancel">否</span>';
            }
        }
        //右键菜单
        function onContextMenu(e, row) {
            e.preventDefault();
            $(this).treegrid('select', row.id);
            $('#mm').menu('show', {
                left: e.pageX,
                top: e.pageY
            });
        }

        //刷新
        function Refresh() {
            $("#tg2").treegrid("reload");
        }
        //开始编辑
        var editingId;
        function edit() {
            //if (editingId != undefined) {
            //    $('#tg').treegrid('select', editingId);
            //    return;
            //}
            var row = $('#tg2').treegrid('getSelected');
            if (row) {
                curSeleNodeID = row.FunctionID;
                if (row.FunctionID == "Root") { tips("不能编辑Root"); return; }
                var model = {};
                model.Name = row.Name;
                model.MyID = row.MyID;
                model.Desription = row.Desription;
                model.Available = row.Available + "";
                $('#ff').form('load', model);
                $('#ttt').dialog('open');
                editingId = row.id;
                //$('#tg').treegrid('beginEdit', editingId);
                //if (row.Available == true) $("input[value='true']")[0].checked = 'checked';
            } else {
                IsEditData("");
                return;
            }
        }
        //提交修改
        function submitform() {
            //$('#ttt').dialog('close');
            if ($('#ff').form('enableValidation').form('validate')) {
                var row = $('#tg2').treegrid('getSelected');
                var odata = {};

                odata.Name = $("#fname").val();
                odata.MyID = $("#fid").val();
                //odata.ParentID = row.ParentID;
                odata.Desription = $("#finfo").val();
                odata.Available = row.Available;
                odata.FunctionID = curSeleNodeID;
                odata.Available = $("#alter_check").combobox("getValue");
                var pdata = { funcJsonStr: JSON.stringify(odata) };
                $.ajax({
                    type: "post",
                    url: '@Html.Url("Account_default", "UpdateFunc", "EnterpriseFunctionManagement")',
                    data: pdata,
                    datatype: "json",
                    success: CB('update', editingId),
                    error: ECB('update', editingId)
                })
            }
        }
        //保存节点修改和新增加节点
        function save() {
            if (editingId != undefined) {
                $('#tg2').treegrid('endEdit', editingId);
                var odata = t.treegrid('find', editingId);
                if (odata.MyID == "" || odata.Name == "") { tips("请填写必要的数据!"); $('#tg').treegrid('select', editingId); t.treegrid('beginEdit', editingId); return; }
                var data = {};
                tips("更新节点,发送数据中,请稍候....");
                if (odata.isnew) {
                    //新增节点
                    data.Name = odata.Name;
                    data.MyID = odata.MyID;
                    data.ParentID = odata.ParentID;
                    data.Desription = odata.Desription;
                    data.Available = odata.Available;
                    var pdata = { funcJsonStr: JSON.stringify(data) }
                    $.ajax({
                        type: "post",
                        url: addurl,
                        data: pdata,
                        dataType: "json",
                        success: CB('new', editingId),
                        error: ECB('new', editingId)
                    });
                }
                else {
                    data.Name = odata.Name;
                    data.MyID = odata.MyID;
                    data.ParentID = odata.ParentID;
                    data.Desription = odata.Desription;
                    data.Available = odata.Available;
                    data.FunctionID = odata.FunctionID;
                    var pdata = { funcJsonStr: JSON.stringify(data) }
                    $.ajax({
                        type: "post",
                        url: updateurl,
                        data: pdata,
                        dataType: "json",
                        success: CB('update', editingId),
                        error: ECB('update', editingId)
                    });

                }
                $('#tg').treegrid('select', editingId);
                editingId = undefined;


            }
        }
        //取消编辑
        function cancel() {
            if (editingId != undefined) {
                $('#tg').treegrid('cancelEdit', editingId);
                editingId = undefined;
            }
        }
        //新增节点的数据构造
        var idIndex = 100;
        var curSeleNodeID;
        function append() {
            var row = $('#tg2').treegrid('getSelected');
            if (row) {
                curSeleNodeID = row.FunctionID;
            } else {
                tips("请选择父级功能行");
                return;
            }
            $('#dd').form('clear');
            $('#ddd').dialog('open');

        }
        //提交增加功能表单
        function addform() {
            //idIndex++;
            //父节点数据
            // var node = $('#tg').treegrid('getSelected');
            //var pid = node == null ? 1 : node.id;
            //var spid = node == null ? "Root" : node.FunctionID;

            //editingId = parseInt(node.id + 1);
            if ($('#dd').form('enableValidation').form('validate')) {

                //验证是否填写  if (odata.MyID == "" || odata.Name == "") { tips("请填写必要的数据!"); $('#tg').treegrid('select', editingId); t.treegrid('beginEdit', editingId); return; }
                var data = {};
                // tips("更新节点,发送数据中,请稍候....");

                //新增节点
                data.Name = $('#dname').val();
                data.MyID = $('#did').val();
                data.ParentID = curSeleNodeID;
                data.Desription = $('#dinfo').val();
                data.Available = $("#add_check").combobox("getValue");
                var pdata = { funcJsonStr: JSON.stringify(data) }
                $.ajax({
                    type: "post",
                    url: addurl,
                    data: pdata,
                    dataType: "json",
                    success: CB('new', editingId),
                    error: ECB('new', editingId)
                });

                //$('#tg').treegrid('append', {
                //    parent: pid,
                //    data: [{
                //        isnew: true,
                //        id: $('#did').val(),
                //        Name: $('#dname').val(),
                //        ParentID: spid
                //    }]
                //});

            }
            //$('#tg').treegrid('select', editingId);
            editingId = undefined;
        }

        //删除节点
        function DeleteNode() {
            var node = $('#tg2').treegrid('getSelected');
            if (!node) {
                showTipsMsg("您没有选择任何数据!", 2000, 2);
            }
            if (node) {
                if (node.FunctionID == "Root") { tips("不能编辑Root"); return; }

                $.messager.confirm("系统提示", "删除功能及其所有下级功能,操作不可恢复,您确认删除?", function (a) {
                    if (a) {
                        var data = {};
                        data.FunctionID = node.FunctionID;
                        var pdata = { funcJsonStr: JSON.stringify(data) }
                        tips("删除节点,发送数据中,请稍候....");
                        //todo delete ajax id=node.FunctionID
                        $.ajax({
                            type: "post",
                            url: deleteurl,
                            data: pdata,
                            dataType: "json",
                            success: CB('delete', node.id),
                            error: ECB('delete', node.id)
                        });
                    }

                });

            }
        }
        //展开收缩节点
        function collapse() {
            var node = $('#tg').treegrid('getSelected');
            if (node) {
                $('#tg').treegrid('collapse', node.id);
            }
        }
        function expand() {
            var node = $('#tg').treegrid('getSelected');
            if (node) {
                $('#tg').treegrid('expand', node.id);
            }
        }
        //加载提示信息框
        function tips(msgstr) {
            showTipsMsg(msgstr, 1000, 0);
            //$("#ft-tips").html(msgstr);
            //$("#ft-tips").show();
        }
        function closetips() {
            $("#ft-tips").hide();
            $('#ttt').dialog('close');
        }
        function search() {

            tips("获取搜索的数据中...");
            var name = $(".easyui-searchbox")[0].value;
            $.get('./GetFunclistByJson', { name: name }, function (data) {
                $('#tg').treegrid('loadData', data);
            }, 'json');
            closetips();
        }

        //刷新
        function Refresh() {
            var r = Math.random();
            var q = { q: r };
            $("#tg2").treegrid("reload",q);
        }
        function replace() {
            var r = Math.random();
            var q = {q:r};
            $("#tg2").treegrid("reload",q);
        }
        var total;
        function onLoadSuccess(x, y) {
            if (y.total) {
                total = y.total - 1;
                $("#fc-tiper").html("共" + total + "个功能项.");
            } else {
                $("#fc-tiper").html("正在添加新功能...");
            }
        }


        var clickrow = 0;

        function onClickRow(row) {
            if (row.id == clickrow) {
                $("#tg2").treegrid("unselect", row.id);
                clickrow = 0;
                return;
            }
            clickrow = row.id;
        }
    </script>

</div>

